<div class="item {{_uniqueClassName}}">
    <div class="indicator-icon icon {{expansionIndicatorIcon}} {{_uniqueClassName}}"></div>
    <div class="icon {{icon}}"></div>

    <div class="item-label  ">{{name}}</div>

</div>
<div class="sub-items  {{_uniqueClassName}}">
    {{#if hasBlock}}
        {{yield}}
    {{else}}
        {{#each treeViewItems as | treeViewItem|}}

            {{component treeViewItemComponent value=treeViewItem.value display=treeViewItem.display selected=treeViewItem.selected onSelecttreeViewItem=(action "onSelectTreeItem" treeViewItem.value) }}
        {{/each}}

    {{/if}}
</div>