<div class="item {{_uniqueClassName}}">
  {{svg-icon class=(concat "indicator-icon icon " _uniqueClassName) icon=expansionIndicatorIcon title=expandTitle}}
    {{svg-icon class="icon" icon=icon}}

    <div class="item-label  ">{{name}}</div>

</div>
<div class="sub-items  {{_uniqueClassName}}">
    {{#if hasBlock}}
        {{yield}}
    {{else}}
        {{#each treeViewItems as | treeViewItem|}}

            {{component treeViewItemComponent value=treeViewItem.value display=treeViewItem.display selected=treeViewItem.selected onSelecttreeViewItem=(action "onSelectTreeItem" treeViewItem.value) }}
        {{/each}}

    {{/if}}
</div>