{{#if icon}}
    <div class="icon {{icon}}"></div>
{{/if}}
<div class="input-wrapper">
    <div class="input-buttons {{if isMemo "text-area" }}">
        <div class="input">
            <div class="hint-text">{{hint}}</div>
            <div class="label">{{label}}</div>
            {{#if isMemo}}

                {{textarea type=type value=value  name=inputId class=inputClasses rows=rows spellcheck=false autocomplete="off" readonly=readonly}}
            {{else}}
                {{#if isMasked}}
                    {{input type="password" value=value  name=inputId class=inputClasses spellcheck=false title=title autocomplete=autocomplete autocapitalize="off" autocorrect="off" readonly=readonly }}
                {{else}}
                    {{input type="text" value=value  name=inputId class=inputClasses spellcheck=false title=title autocomplete=autocomplete autocapitalize="off" autocorrect="off" readonly=readonly }}
                {{/if}}

            {{/if}}
        </div>
        <div class="buttons">
            {{#if isMasked }}
                {{nb-button title=passwordToggleTitle type="flat-icon" icon=(if passwordVisible (build-icon "eye"  "grey600") (build-icon  "eye-off" "grey600")) on-tap=(action "togglePasswordVisible")   size="condensed"  }}

            {{/if}}
            {{yield}}
            {{#if copyButton }}
                {{nb-button title=copyFieldTitle type="flat-icon" icon= (build-icon "content-copy" "grey600") on-tap=(action "copyField")  size="condensed" useNativeClick=true  }}

            {{/if}}
        </div>
    </div>

    <div class="bottom-bar"></div>
    <div class="error">{{errorString}}</div>
</div>


