<div class="input-wrapper">
    <div class="buttons">
        {{#if isMasked }}
            {{nb-button title=passwordToggleTitle type="flat-icon" icon=(if passwordVisible (build-svg-icon "eye"  "grey-600") (build-svg-icon  "eye-off" "grey-600")) on-tap=(action "togglePasswordVisible")   size="condensed"  }}

        {{/if}}
        {{yield}}
        {{#if copyButton }}
            {{nb-button title=copyFieldTitle type="flat-icon" icon= (build-svg-icon "content-copy" "grey-600") on-tap=(action "copyField")  size="condensed" useNativeClick=true  }}

        {{/if}}
    </div>
    <div class="input-buttons {{if isMemo "text-area" }}">
        <div class="input">
            <div class="hint-text">{{hint}}</div>
            <div class="label">{{label}}</div>
            <div class="textarea-wrapper">
                {{textarea type=type value=value  name=inputId class=inputClasses rows=rows spellcheck=false autocomplete="off" readonly=readonly}}
                {{#if (and (eq isMasked true) (eq passwordVisible false)) }}
                <div class="mask">
                    <div>HIDDEN</div>
                    <div>Click or focus to show</div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>

    <div class="error">{{errorString}}</div>
</div>


