<div class="scroll-panel-content {{_uniqueClassName}}" touch-action="{{touchAction}}">
    {{yield}}
</div>
<div class="vertical-scrollbar {{_uniqueClassName}}">
    <div class="scroll-rail">
        <div class="scroll-knob"></div>
    </div>
</div>
<div class="horizontal-scrollbar {{_uniqueClassName}}">
    <div class="scroll-rail">
        <div class="scroll-knob"></div>
    </div>
</div>
