<div class="scroll-panel-content {{_uniqueClassName}}" touch-action="{{touchAction}}">
    {{#each renderedComponents as |item|}}
        {{component itemComponent touchAction=touchAction args=args options=args}}
    {{/each}}
</div>
<div class="vertical-scrollbar {{_uniqueClassName}}">
    <div class="scroll-rail">
        <div class="scroll-knob"></div>
    </div>
</div>
<div class="horizontal-scrollbar {{_uniqueClassName}}">
    <div class="scroll-rail">
        <div class="scroll-knob"></div>
    </div>
</div>
